<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{ #users }}
    <div class="users">
      <img src={{avatar}} alt=""/>
      <strong>{{ name }}</strong>
    </div>
    {{ /users }}
  </body>
</html>
