body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.users {
  display: flex;
  flex-direction: column;
  border: solid 1px grey;
  margin: 1vw 1vw 1vw 1vw;
  flex-basis: 15%;
}
h1{
  color: blue;
  font-size: 1.2rem;
  margin-left: 1vw;
}
h2 {
  font-size: 1rem;
  margin-left: 1vw;
}
.idusers img{
  border-radius: 50%;
  border: 1px grey solid;
}
.idusers{
  display: flex;
  flex-direction: row;
}
.idusermain{
  display: flex;
  flex-direction: row;
  align-items: center;
}
